/*rgb(93, 89, 88) dark grey
rgb(255, 255, 255) white
rgb(193, 192, 192) light grey
rgb(82, 190, 148) bright green
rgb(192, 209, 113) light green
rgb(246, 218, 134) light yellow
rgb(238, 42, 75) red*/

/*header*/
#header{
  height: 100px;
  background-color: rgb(192, 209, 113);
}

#header a:link {
    text-decoration: none;
}

#header h1{
  font-size: 4em;
  color: white;
  margin-left: 3%;
}


/*main page images*/
.img_card{
  margin: 25px 0 25px 0;
}

.img_card h3{
  color: rgb(238, 42, 75);
}

.tee_image img{
  text-align: center;
  margin: 0 auto;
}



/*SECOND TSHIRT PAGE*/

#shirt_image{
  height: 400px;
  margin-top: 100px;
}

#shirt_info{
  padding-top: 150px;
}

#shirt_info h3{
  color: rgb(238, 42, 75);
  font-size: 2em;
  margin-bottom: 20px;
}

#shirt_info h4{
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}



/*model 1*/
#modal_header{
  background-color: rgb(82, 190, 148);
  color: white;
}

#modal_header h4{
  margin-left: 10%;
  font-size: 2em;
}

#buy_modal{
  margin-top: 20%
}

#buy input.form-control{
  width: 50%;
  margin-left: 10%;
}

#buy label{
  color: rgb(238, 42, 75);
  margin-left: 10%;
  font-size: 1em;
}

.button{
  background-color: rgb(82, 190, 148);
  color: white;
}

.button_move{
  margin-left: 45px;
  margin-top: 10px;
}


/*model 2*/

#thank_you_header{
  background-color: rgb(246, 218, 134);
  color: white;
}

#content_modal{
  margin-top: 35%;
}




/*style for transs page*/

#trans_box{
  margin-top: 100px;

}

.trans_inside_box{
  background-color: grey;
  height: 400px;
}

#trans_header{
  height: 100px;
  background-color: rgb(246, 218, 134);
  color: white;

}

#trans_header h3{
  font-size: 3em;
  text-align: center;
}

#confirm_num{
  color: rgb(238, 42, 75);
}

#trans_content p{
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 40px 8% 0 8%;
}

/*Error Page*/
.err_inside_box{
  background-color: grey;
  height: 375px;
}

#err_header {
  height: 100px;
  background-color: rgb(238, 42, 75);
  color: white;
}

#err_header h3 {
  font-size: 3em;
  text-align: center;
}

#err_content {
  color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 40px 8% 0 8%;
}

#err_red {
  background-color: rgb(246, 218, 134);
  border: 12px solid rgb(246, 218, 134);
  border-radius: 8px;
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
