<!DOCTYPE>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/indexstyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class = "container-fluid">

      <!-- header -->
      <section class = "row">
          <div class = "col-md-12 clearfix" id = "header">
            <header>
              <a href="/">
                <h1 class = 'text-left'>Animali</h1>
              </a>
            </header>
          </div>
      </section> <!-- end header -->

      <!--     row of teeshirts -->
      <section class = "row">
      <div class = 'text-center'>
        <% items.each do |item| %>
          <div class = "col-md-4 col-sm-6, img_card">
            <a href="/item/<%=item.id%>">
              <img class="img-responsive, tee_image" src=<%=item.image_url%>>
            </a>
            <h3><%=item.name%></h3>
            <h4>$<%=item.price.round(2)%></h4>
          </div>
        <% end %>
      </div>
      </section>

  </div>
  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
